<phpunit
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    bootstrap="test/bootstrap.php"
    >
    <testsuites>
        <testsuite name="All">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
